@model Engine.SysAdmin.Models.ErrorViewModel

@{
    ViewBag.Title = "Error";
}


 <div class="card">
                    <div class="card-header">
                        <h5>خوش آمدید</h5>
                    </div>
                    <div class="card-block">
                     
<hgroup>
    <h1 class="text-error">خطا</h1>
    <h2 class="text-error">@Model.Msg</h2>
</hgroup></div>
                </div>
    

