@model dynamic



<div class="col-md-6 ">
    
    <form >
        <div class="form-group" style="text-align: center">
            <h4 style="font-size: 23.4px;    margin-bottom: 20px;" for="exampleFormControlInput1">چطور میتونیم کمکتون کنیم ؟</h4>
  
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="background-color: white;border: none">
                        <i class="fa fa-search" style="font-size: 21px"></i>
                    </span>
          
                </div>
                <input style="text-align: right;
                         height: 57px;border: none;"
                       dir="rtl" type="email" class="form-control" id="exampleFormControlInput1" placeholder="جستجو در مرکز پشتیبانی ما...">
            </div>
        </div>

    </form>
    <ul class="list-group"  style="display: none;    position: absolute;
                                      width: 95%;
                                      z-index: 999;">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>