@model dynamic

<section class="pricing section bg-shape" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-4">
                    <h2 class="mb-3">قیمت های مناسب هر کسب وکار</h2>
                    <p>پلن های گپ با توجه به میزان مورد نیاز وب سایت افزایشی طراحی شده است تا از نیاز های کوچک تا بزرگ را پشتیبانی نماید

</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Pricing Table -->
                <div class="pricing-table text-center">
                    <!-- Title -->
                    <div class="title">
                        <h5>برای همه</h5>
                    </div>
                    <!-- Price Tag -->
                    <div class="price">
                        <p>رایگان<span>/ماهانه</span></p>
                    </div>
                    <!-- Features -->
                    <ul class="feature-list">
                        <li>Android App</li>
                        <li>IOS App</li>
                        <li>Web App</li>
                        <li>بات تلگرام</li>
                        <li>صندوق ورودی تیم</li>
                        <li>خبرداری لحظه ای</li>
                        <li>تا 2 پشتیبان</li>
                        <li>چت نامحدود</li>
                        <li>یک گیگ فضا</li>
                    </ul>
                    <!-- Take Action -->
                    <div class="action-button">
                        <a href="" class="btn btn-main-rounded">شروع</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Pricing Table -->
                <div class="pricing-table featured text-center">
                    <!-- Title -->
                    <div class="title">
                        <h5>کسب و کار های کوچک</h5>
                        <p>برای هر وب سایت</p>
                    </div>
                    <!-- Price Tag -->
                    <div class="price">
                        <p>35 هزار تومان<span>/ماهانه</span></p>
                    </div>
                    <!-- Features -->
                    <ul class="feature-list">
                        <li>تمامی اپلیکیشن ها</li>
                        <li>صندوق ورودی تیم</li>
                        <li>کاربران آنلاین در هر صفحه</li>
                        <li>جستجو</li>
                        <li>هدایت کاربر به هم تیمی ها</li>
                        <li>مسدود سازی کاربران</li>
                        <li>تا 4 پشتیبان</li>
                        <li>چت نامحدود</li>
                        <li>پنج گیگ فضا</li>
                    </ul>
                    <!-- Take Action -->
                    <div class="action-button">
                        <a href="" class="btn btn-main-rounded">شروع</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 m-md-auto">
                <!-- Pricing Table -->
                <div class="pricing-table text-center">
                    <!-- Title -->
                    <div class="title">
                        <h5>پیشرفته</h5>
                    </div>
                    <!-- Price Tag -->
                    <div class="price">
                        <p>100 هزار تومان<span>/ماهانه</span></p>
                    </div>
                    <!-- Features -->
                    <ul class="feature-list">
                        <li>تمامی اپلیکیشن ها</li>
                        <li>تاریخچه بینهایت چت ها</li>
                        <li>پرسش های اتوماتیک</li>
                        <li>گفت و گو با هم تیمی</li>
                        <li>مشاهده آنلاین صفحه ای کاربر می بیند</li>
                        <li>تم مخصوص</li>
                        <li>مترجم آنلاین</li>
                        <li>پاسخ های هوشمند وقتی افلاین هستید</li>
                        <li>ربات پاسخگوی پشتیبان</li>
                        <li>ویدئو چت</li>
                        <li>ارسال صدا و فایل</li>
                        <li>تا بی نهایت پشتیبان</li>
                        <li>چت نامحدود</li>
                        <li>فضای بی نهایت</li>
                    </ul>
                    <!-- Take Action -->
                    <div class="action-button">
                        <a href="" class="btn btn-main-rounded">شروع</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
