@using System.Collections.Specialized
@using System.Web.Mvc.Html
@using Engine.Areas.JUiEngine.Controllers
@using Engine.Entities.Models.UiGeneratorModels
@using WebAppIDEEngine.Models.Core
@model dynamic

@{

    ViewBag.Title = "فرم ثبت";
    ViewBag.SaveAction = ViewBag.SaveAction ?? "Save";
    ViewBag.SaveController = ViewBag.SaveController ?? this.ViewContext.RouteData.Values["controller"].ToString();
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";

    ViewData["inline"] = true;
    var form=ViewData[UiHomeController.Form] as UiForm;  
    
}

@{

   
}

@Html.Partial("~/Areas/JUiEngine/Views/UiFormEngine/ShowView.cshtml", form)

<br/>
<div class="alert alert-info text-muted">
    برای مثال روز کار عادی ، حراست و ...
</div>