@media (min-width: 768px)
{
    .sidebar .nav-item .nav-link {
        display: block;
        padding: 0px;
        text-align: right;
        width: 100%;
        width: 14rem;
    }
}

/*---------------------------------------------------recording animation--------------------------------------*/
.whiteRecording {
    width: 35px;
    height: 35px;
    font-size: 0;
    background-color: red;
    border: 0;
    border-radius: 35px;
    margin: 18px;
    outline: none;
}

.notRec{
    background-color: darkred;
}

.Rec{
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse{
    0%{
        box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
    }
    65%{
        box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
    }
    90%{
        box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
    }
}


/*---------------------------------------------------customer layut menu--------------------------------------*/
@media screen and (max-width: 1200px) {
    .pcoded-mtext {
        margin-right: 50px !important; /* The width is 100%, when the viewport is 800px or smaller */
    }


    .onMobile{
        display: block !important;
    }
}
.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item>li>a {
    height: 50px;
}
.pcoded-item :hover {
   color: red !important;
}

.onMobile{
    display: none ;
}

/*---------------------------------------------------speach bubbles--------------------------------------*/


/* cursor animations */

@keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
}
/*---------------------------------------------------animations--------------------------------------*/

/* The animation code */

@keyframes one {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(10deg);
    }
}

/*---------------------------------------------------END--------------------------------------*/



/*----------------------------- pulsing circle animation-------------------------*/

.pulsating-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
    height: 30px;
}
.pulsating-circle:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #01a4e9;
    -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.pulsating-circle:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@-webkit-keyframes pulse-ring {
    0% {
        -webkit-transform: scale(0.63);
        transform: scale(0.63);
    }
    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulse-ring {
    0% {
        -webkit-transform: scale(0.63);
        transform: scale(0.63);
    }
    80%,
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes pulse-dot {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}
@keyframes pulse-dot {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

/*----------------------------- END ------------------------*/



/*pace:*/


.gapMsg  a:not([href]):not([class]):hover,.gapMsg a:hover{
    color: #04aecd !important;
    cursor: pointer;
}

.vl {
    border-left: 6px solid #d3d7dd;
    height: 100%;
}


.gapMsg a:not([href]):not([class]),.gapMsg a{
    color: #09e2ca !important;
}


.gapOnTheFlyMessageText    a:not([href]):not([class]) , .gapOnTheFlyMessageText a{
    color: #04aecd !important;
    cursor: pointer;
    text-decoration: none;

}
.gapOnTheFlyMessageText  a:not([href]):not([class]):hover  , .gapOnTheFlyMessageText a:hover{
    color: #09e2ca !important;
    text-decoration: none;


}


.card-block{
    
    overflow: auto !important;
}
.dot a {
    color: white;
    text-decoration: none;
}

.dot a:hover {
    color: white;
    text-decoration: none;
}
.dot{
    position: fixed;
    top: 71%;
    right: 5%;
    z-index: 999999999;
}
.gapOnTheFlyMessage{
    position: fixed;
    top: 58%;
    right: 5%;
    z-index: 999999999;
    
    
}
.onTheFly{
    top: 10% !important;
    left: 65%!important;
}


@media screen and (max-width: 1366px) {
    .gapContent {
        width: 36vw !important; /* The width is 100%, when the viewport is 800px or smaller */
    }

    .onTheFly{
        top: 15% !important;
        left: 60%!important;
    }

    .gapChat{
        overflow: hidden;
        height: 62%;
    }

    .gapChat{
        height: 60vh;
    }
}
@media screen and (max-width: 1024px) {
    .gapContent {
        width: 36vw !important; /* The width is 100%, when the viewport is 800px or smaller */
    }

    .onTheFly{
        top: 15% !important;
        left: 62%!important;
    }

    .gapChat{
        height: 50vh;
    }
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    .gapContent {
        width: 90vw !important; /* The width is 100%, when the viewport is 800px or smaller */
    }

    .onTheFly{
        top: 10% !important;
        left: 5%!important;
    }


    .gapChat{
        height: 50vh;
    }
}

@media screen and (max-width: 600px) {
    .gapContent {
        width: 90vw !important; /* The width is 100%, when the viewport is 800px or smaller */
    }

    .onTheFly{
        top: 10% !important;
        left: 5%!important;
    }

    .gapChat{
        height: 45vh;
    }
    
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes pace-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes pace-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes pace-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#disableBackground h2 {
    color: #3eb1ff;
    margin: 20%;
    z-index: 99999;
}

#disableBackground {
    position: fixed;
    opacity: 0.3;
    width: 100%;
    top: 50px;
    height: 100%;
    background-color: #0edbf9;
    z-index: 9999;
}
@font-face {
    font-family: 'primeicons';
    font-display: auto;
    src: url('./fonts/primeicons.eot');
    src: url('./fonts/primeicons.eot') format('embedded-opentype'), url('./fonts/primeicons.ttf') format('truetype'), url('./fonts/primeicons.woff') format('woff'), url('./fonts/primeicons.svg?#primeicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*pace end*/
@font-face {
    font-family: byekan;
    src: url(../fonts/Sahel.ttf);
}
span,td,th,p,div,a{
    font-size: 14px !important;
}
@font-face {
    font-family: koodak;
    src: url(../fonts/koodak.ttf);
}

.pcoded[theme-layout="vertical"][vertical-placement="right"] .pcoded-navbar .pcoded-item>li>a .pcoded-mtext{
    padding:0px !important;;
}
th{
    text-align: right;
    direction: rtl;
}


*:not(i):not(.glyphicon):not(.pi){
    font-family: byekan !important;
}

li a{
    font-size: 18px !important;

}

/*
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

!* Set padding to keep content from hitting the edges *!
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

!* Set width on the form input elements since they're 100% wide by default *!
input,
select,
textarea {
    max-width: 280px;
}

!* styles for validation helpers *!
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}*/
