
.p-datatable-header{
    text-align: center;
}

.p-picklist{
    direction: ltr;
    text-align: right;
}
.p-picklist::placeholder{
    direction: ltr;
    text-align: right;
}
.table > :not(caption) > * > *{
    padding:unset !important;
}
.p-datatable .p-datatable-tbody > tr > td{
    text-align: unset !important;
}
.p-paginator{
 direction: ltr;   
}

.ui-picklist{
    direction: ltr;
}
a {
    color: #0f9aee !important;
}

body .ui-widget input, body .ui-widget select, body .ui-widget textarea, body .ui-widget button {
    
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
    font-family: "iranyekanwebregular" !important;
    text-decoration: none;
    font-size: 1em;
}
body .ui-widget, body .ui-widget .ui-widget, body .ui-widget input, body .ui-widget select, body .ui-widget textarea, body .ui-widget button {
    font-family: "iranyekanwebregular" !important;

}
body .ui-state-active,
body .ui-state-highlight {
   /* background-color: #e6e6e6 !important;
    color: #070707 !important;*/
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page{
    padding:unset !important;
}

body .ui-widget-header {
    border: unset !important;
}
.hover-cursor:hover{
    cursor: pointer;
}
@font-face {
    font-family: "bykan";
    src: url('font/byekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p,h1,h2,h3,h4,h5,h6,th,input,title,footer,select,option ,a ,b {
    font-family: "iranyekanwebregular" !important;
    font-weight: bold;
}
.dataTables_wrapper .dataTables_filter{
    float: unset !important;
    margin:10px
}



@font-face {
    font-family: 'IranianSans';
    src: url('fonts/IranianSans.ttf') format('truetype');
font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BYekan';
    src: url('fonts/Yekan.ttf') format('truetype');
font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'iranyekanwebregular';
    src: url('fonts/iranyekanwebregular.eot') format('embedded-opentype'), /* IE6-8 */
    url('fonts/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('fonts/iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('fonts/iranyekanwebregular.ttf') format('truetype');

font-weight: normal;
    font-style: normal;
}
/*
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

!* Set padding to keep content from hitting the edges *!
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

!* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*!
.dl-horizontal dt {
    white-space: normal;
}

!* Set width on the form input elements since they're 100% wide by default *!
input,
select,
textarea {
    max-width: 280px;
}
*/
