@using SignalRMVCChat.Areas.sysAdmin.Service
@model TelegramBotsWebApplication.Areas.Admin.Models.MyEntityResponse<SignalRMVCChat.Service.Setting>

@{
    ViewBag.Title = "تنظیمات سیستم";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}


<div style="padding: 50px">
    <h2>تنظیمات سیستم</h2>

    @if (ViewBag.saved != null)
    {
        <p class="alert alert-success">تغییرات با موفقیت ذخیره شد</p>
    }

    <form method="post" action="/Admin/Setting/Save">

      @Html.Partial("SettingForm");

      
<div class="form-group">
    <button type="submit">ثبت</button>
</div>
    </form>
</div>