@using System.Collections.Specialized
@using ViewModel.ActionTypes
@using Engine.Attributes
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using ViewModel.ActionTypes
@using Domain.Attributes
@using Engine.Areas.JUiEngine.Controllers

@model IDataTable
@{
    ViewBag.Title = "فراموشی کارت";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";

    var datatable = ViewData[UiHomeController.TableObject];
}


<div class="container">
    @Html.Partial("~/Areas/JUiEngine/Views/UiHome/ShowView.cshtml", datatable)
</div>