@model dynamic


<div class="form form-inline">
           <label>تاریخ از:</label>
 <div class="form-group">
        <input class="form-control datepicker" name="DateFrom" id="DateFrom" />
    </div>
           <label>تاریخ تا:</label>
 <div class="form-group">
        <input class="form-control datepicker" name="DateFrom" id="DateTo" />
    </div>
    
    
    <div class="form-group">
               <label></label>
        <button onclick="init()" class="btn btn-default">اعمال</button>

    </div>

</div>
