@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
ایمیلی حاوی لینک ثبت نام به ایمیل شما ارسال گردید ، 
</p>
<p class="text-danger">
برای تایید ایمیل در حالت دمو می توانید از این <a href="@ViewBag.Link">لینک</a> استفاده نمایید
</p>
