@using SignalRMVCChat.DependencyInjection
@using SignalRMVCChat.Service
@using SignalRMVCChat.SysAdmin.Service
@model dynamic

@{
    ViewBag.Title = "ارتقاء پلن کاربری";
    Layout = "../Shared/_Layout_Customer.cshtml";



}





@{
    var planService = Injector.Inject<PlanService>();
}

<div class="page-wrapper">
    <!-- Page-header start -->
    <div class="page-header horizontal-layout-icon menu-rtl">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <div class="d-inline">
                        <h4>ارتقاء پلن کاربری </h4>
                        <span>در این بخش می توانید پلن کاربری خود را ارتقاء بخشید و از امکانات بیشتری استفاده نمایید </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12">
                <!-- Default card start -->
                
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-block">
                        
                        <p>می توانید پلن دلخواه خود را انتخاب نمایید</p>
                        @Html.Partial("~/Areas/Admin/Views/Shared/PricingTable.cshtml", planService.GetAll())

                    </div>
                </div>
                
                <!-- Default card end -->
            </div>
        </div>
    </div>

    <!-- Page-header end -->

    


</div>



@section scripts{


    <script>
    $(document).ready(function() {
        
       $('td:contains("True")').html('<span style="color:green" class="glyphicon glyphicon-ok"></span>');
       $('td:contains("False")').html('<span style="color:red" class="glyphicon glyphicon-remove"></span>');
       $('td:contains("-1")').text('بینهایت');

      
    })
    </script>
}